h1{
    color: rgb(161, 226, 71);
}

body{
    background-color: rgb(1, 27, 40);
}

button{
    color:darkslategrey;
    background-color:burlywood;
}

#box {
    /* color: #000; */
    background-color: blueviolet;
    text-align:right;
}
h1{
    text-align: center;
    text-decoration:underline;
}
a{
    text-decoration:dashed;
}

#nick{
    font: weight 600px;;
}

#twenty{
    font-family: Arial;
}

#thirty{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}