h1{
    color: rgb(161, 226, 71);
}

body{
    background-color: rgb(1, 27, 40);
}

button{
    color:darkslategrey;
    background-color:burlywood;
}

#box {
    /* color: #000; */
    background-color: blueviolet;
}
